.search-bar {
    display: flex;
    justify-content: center;
    margin: 20px;
    background-color: black;
    padding: 20px;
    border-radius: 5px;
}

.search-bar input {
    width: 300px;
    padding: 10px;
    border: 1px solid gold;
    border-radius: 4px;
    font-size: 16px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: gold;
    background-color: transparent;
}

.search-bar input::placeholder {
    color: rgba(255, 215, 0, 0.7);
}

.search-bar input:focus {
    border-color: darkgoldenrod;
    outline: none;
}